body {
    background-color: rgba(255, 243, 225, 0.432);
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 5%;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 2px;
}

h1 {
    color: rgb(7, 11, 68);
}

h2 {
    color: rgb(7, 11, 68);   
}


h3 {
    color: rgb(7, 11, 68);   
}
